{% extends 'base.html.twig' %}

{% block title %}Nous{% endblock %}

{% block body %}

    <div class="histoire">
        <div>
            <img src="{{asset('build/images/oldPlace.jpg')}}" alt="old place">
            <h2>Notre histoire</h2>
            <img src="{{asset('build/images/newPlace.jpg')}}" alt="new place">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eum iure, labore laudantium magnam
                non repellat similique sint! Alias assumenda dolorum ea id illo, magnam mollitia numquam totam vero
                voluptatem.</p>
            <p>Accusamus architecto assumenda blanditiis consequuntur eaque earum eius et iusto mollitia nam,
                necessitatibus neque nihil nulla officia officiis, optio quibusdam quis ratione recusandae reiciendis
                repellendus reprehenderit ullam veritatis voluptatem voluptatibus!</p>
            <p>Beatae culpa enim error ipsam quasi repellat, totam veniam. Ad aliquid amet assumenda beatae, commodi
                consequatur consequuntur cupiditate distinctio, eius eligendi eos, fugiat fugit ipsam minima nisi
                obcaecati provident rem.</p>
            <p>A adipisci at debitis deserunt dignissimos doloremque dolorum error fugit harum, hic ipsam iure maiores,
                necessitatibus nisi odit pariatur reiciendis vel! Doloribus dolorum esse et ipsa labore odit quas
                ullam.</p>
            <p>Aliquid dolorum necessitatibus neque omnis, perferendis quam! Aliquid, architecto dolore hic ipsa iusto
                laborum magni nemo non officiis sint, tempora tenetur! Accusantium alias delectus minima nam nobis
                voluptates voluptatum. Labore?</p>
            <p>Corporis illo labore quo. Deserunt dicta dolorem, ea est excepturi exercitationem iste itaque labore
                molestiae, necessitatibus non nulla odio optio perspiciatis, possimus quasi quisquam sequi similique
                sint velit veritatis voluptatem!</p>
            <p>Accusamus ad adipisci aliquid architecto aspernatur ea est eum harum in ipsa ipsam mollitia nihil non
                odit, perferendis possimus, praesentium quo vel voluptate voluptatibus. Alias distinctio quo repellat
                tenetur vero.</p>
            <p>Alias aliquid cum dolores eveniet hic maiores quos vel? Ab adipisci alias dolores ducimus ea, eum facere
                harum hic impedit labore magnam minus mollitia possimus repellendus ut vel veritatis voluptatum!</p>
        </div>
    </div>
    <div class="equipe">
        <h2>Notre equipe</h2>
        <img src="{{asset('build/images/team.jpg')}}" alt="team">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eum iure, labore laudantium magnam
            non repellat similique sint! Alias assumenda dolorum ea id illo, magnam mollitia numquam totam vero
            voluptatem.</p>
        <p>Accusamus architecto assumenda blanditiis consequuntur eaque earum eius et iusto mollitia nam,
            necessitatibus neque nihil nulla officia officiis, optio quibusdam quis ratione recusandae reiciendis
            repellendus reprehenderit ullam veritatis voluptatem voluptatibus!</p>
        <p>Beatae culpa enim error ipsam quasi repellat, totam veniam. Ad aliquid amet assumenda beatae, commodi
            consequatur consequuntur cupiditate distinctio, eius eligendi eos, fugiat fugit ipsam minima nisi
            obcaecati provident rem.</p>
        <p>A adipisci at debitis deserunt dignissimos doloremque dolorum error fugit harum, hic ipsam iure maiores,
            necessitatibus nisi odit pariatur reiciendis vel! Doloribus dolorum esse et ipsa labore odit quas
            ullam.</p>
    </div>


{% endblock %}

