{% extends 'base.html.twig' %}

{% block title %}Nouveau Service{% endblock %}

{% block body %}
    <h1>Créer un nouveau Service</h1>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('service_index') }}"><i class="far fa-arrow-alt-circle-left"></i> Retour à la liste</a>
{% endblock %}
