{% extends 'base.html.twig' %}

{% block title %}Editer Article{% endblock %}

{% block body %}
    <h1>Editer un Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}"><i class="far fa-arrow-alt-circle-left"></i> Retour à la liste</a>

{#    {{ include('article/_delete_form.html.twig') }}#}
{% endblock %}
